<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>

<body>
  <div id="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>
    
    <%- body %>
    
    <%- include('../partials/footer') %>
  </div>
</body>
</html>
